<?xml version="1.0" ?>

<robot name="pmr" xmlns:xacro="https://www.ros.org/wiki/xacro" >
  <xacro:include filename="$(find pmr)/urdf/materials.xacro" />
  <xacro:include filename="$(find pmr)/urdf/pmr.gazebo" />
  <xacro:include filename="$(find pmr)/urdf/macro.xacro" />
    
  <link name="link_chassis">
    <!-- pose and inertial -->
    <pose>0 0 0.1 0 0 0</pose>
    
    <inertial>
      <mass value="5"/>
      <origin rpy="0 0 0" xyz="0 0  0.1"/>
      <inertia ixx="0.0395416666667" ixy="0" ixz="0" iyy="0.106208333333" iyz="0" izz="0.106208333333"/>
    </inertial>
    
    <collision name="collision_chassis">
      <origin rpy="0 0 1.5707" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://pmr/meshes/link_chassis.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    
    <visual>
      <origin rpy="0 0 1.5707" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://pmr/meshes/link_chassis.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <!-- Camera -->
  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.05 "/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0001 0.0001 0.005 "/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  


  <link name="castor_front_link">    
    <inertial>
      <mass value="0.02"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.00052666666" ixy="0" ixz="0" iyy="0.00052666666" iyz="0" izz="0.001"/>
    </inertial>
    
    <collision name="castor_collision">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
    </collision>
    
    <visual name="castor_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>      
    </visual> 
  </link>

  <link name="castor_back_link">    
    <inertial>
      <mass value="0.02"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.00052666666" ixy="0" ixz="0" iyy="0.00052666666" iyz="0" izz="0.001"/>
    </inertial>
    
    <collision name="castor_collision">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
    </collision>
    
    <visual name="castor_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>      
    </visual>  
  </link>
  
<xacro:link_wheel name="link_right_wheel" />
<xacro:link_wheel name="link_left_wheel" />
<xacro:link_dummy name="link_dummy" />


<xacro:joint_wheel name="joint_right_wheel"  child="link_right_wheel"  origin_xyz="0 0.2 0" axis_xyz="0 1 0" origin_rpy="0 0 0"/>
<xacro:joint_wheel name="joint_left_wheel"   child="link_left_wheel"   origin_xyz="0 -0.2 0" axis_xyz="0 1 0" origin_rpy="0 0 0"/>
<xacro:joint_wheel name="joint_castor_front"   child="castor_front_link"   origin_xyz="0.2 0 -0.025" axis_xyz="1 0 0" origin_rpy="0 0 0"/>
<xacro:joint_wheel name="joint_castor_back"   child="castor_back_link"   origin_xyz="-0.2 0 -0.025" axis_xyz="1 0 0" origin_rpy="0 0 0"/>
<xacro:joint_wheel name="camera_joint"   child="camera_link"   origin_xyz="0 0 0.55" axis_xyz="0 1 0" origin_rpy="0 0 0"/>
<xacro:joint_wheel name="dummy_joint"   child="link_dummy"   origin_xyz="0 0 0.44" axis_xyz="0 1 0" origin_rpy="0 0 0"/>


</robot>